.logo {
    filter: invert();
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}

body {
    background-image: linear-gradient(rgb(231, 171, 171), rgb(77, 87, 231));
    height: 100vh;
}

.container {
    max-width: 980px;
    /* background-color: red; */
    margin: auto;
    border: 3px solid black;
    height: 58vh;
    padding: 25px;
    overflow-y: auto;
}

.message {
    background-color: rgb(194, 178, 178);
    padding: 20px;
    width: 40%;
    margin: 8px;
    border: 2px solid black;
    border-radius: 8px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 980px;
    width: 100%;
    margin-top: 15px;
}

#messageInp {
    width: 90%;
    height: 30px;
    border: 2px solid black;
}

.btn {
    padding: 7px;
    cursor: pointer;
    border: 2px solid black;
}

#username {
    width: 40%;
    height: 30px;
    border: 2px solid black;
}